# Folders
Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
.idea
Content/GKnight
Content/MedievalDungeon
Content/ProIconPack
Content/MilitaryWeapDark

# Files
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset